.app-header{
    width: 100%;

    height: 6rem;
    background: linear-gradient(-135deg, #2AF598, #009EFD) no-repeat center center fixed;
    position: relative;
    margin-top: 2rem;
    margin-bottom:7.5rem;
    left:0;
    
}   
    .app-header_scroll-changed{
        position: sticky;
        display: flex;
        background:none;
        top: 0;
        left:0;
        z-index: 1;

        color: rgba(88, 89, 91, 0.9);
        background-color: none;
        animation-name: shiftColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
.nav-bar {
    width: 100%;
    margin: 0 auto;
}
    .nav-bar__tab {
        text-align: center;
        height: 100%;
        width: 20%;
        float: left;
        font-weight: 700;
    }

    .nav-bar__tab div{
        width: 100%;
        height: 100%;
        margin: 0;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }    
    }

    .nav-bar__tab .sub-title{
        display: block;
        text-decoration: none;
        font-weight: lighter;
        color: white;  
        
        width: 100%;
        line-height: 6rem;
        border: none;   
    }


    @keyframes shiftColor {
        from {background-color: none;}
        to {background-color: rgba(88, 89, 91, 1);;}
    }

