.nav-bar {
    width: 100%;
}
    .nav-bar__tab {
        text-align: center;
        width: 25%;
        float: left;
        font-weight: 700;
    }

    .nav-bar__tab div{
        width: 11rem;
        margin:0 auto;
    }

    .nav-bar__tab .sub-title{
        font-weight: lighter;
        color: white;  
        border-radius: 0.5rem;
        width: 12rem;
        line-height: 5rem;
        border: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }    
    }

    .nav-bar__tab a {
        color: white;
        text-decoration: none !important;
        &:hover{
            color: #14C3A2;
        }
    }
