.app-header{
    background: linear-gradient(-135deg, #2AF598, #009EFD) no-repeat center center fixed;
    position: sticky;
    display: flex;
    top:0;
    z-index: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}   
    .app-header_scroll-changed{
        background:none;
        color: rgba(88, 89, 91, 0.9);
        background-color: rgba(88, 89, 91, 0.8);
    }
.nav-bar {
    width: 100%;
}
    .nav-bar__tab {
        text-align: center;
        width: 20%;
        float: left;
        font-weight: 700;
    }

    .nav-bar__tab div{
        width: 75%;
        margin:1.25rem auto;
        border-radius: 0.5rem;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }    
    }

    .nav-bar__tab .sub-title{
        text-decoration: none;
        font-weight: lighter;
        color: white;  
        
        width: 100%;
        line-height: 5rem;
        border: none;   
    }

