html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #58595b;
}

body {
    background: linear-gradient(-135deg, #2AF598, #009EFD) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
}

.app{
    width: 100%;
    height: 100%;
}

.app-header {
    height: 7.5rem;
    width: 100%;
    margin: 0 auto;
}

.app-body {
    height: calc(100%-10rem);
    
}

.app-footer{
    display: block;
    height: 70rem;
    color: white;
}

.button{
    border: none;
    border-radius: 1rem;
    font-size: $m-size;
    font-weight: 400;
    color: white;
    width: 25rem;
}

.line {
    background-color: rgba(88, 89, 91, 0.3);
    height: 1px;
    width: 100%;
    margin:auto;
}

li {
    list-style-type: none; 
}

.header{
    margin: 0;
    font-size: $xl-size;
}

.sub-header{
    font-size: $l-size;
    margin:0;
}

.text{
    font-size: $s-size;
}

.mini-text{
    font-size: $xs-size;
}

.sub-title{
    font-size: $m-size;
}

.btn {
    font-size: $m-size;
    background-color: white;
    border: solid 1px rgba(88, 89, 91, 0.3);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    &:hover {
        background-color: rgba(88, 89, 91, 0.2);
    }
    &:active {
        box-shadow: 0 0 white;
        border: solid 1px rgba(88, 89, 91, 0.8);
    }
}
    .btn .sub-title{
        margin: 0;
        color: rgba(88, 89, 91, 0.8);
        font-weight: 100;
    }
    .btn svg{
        float: right;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    @media only screen and (max-width: 768px) {
        .btn{
            display: block;
            margin: 0 auto;
        }
    }
